<?xml version="1.0" encoding="UTF-8"?>
<suite name="eBanking">
<listeners>
<listener class-name="com.eBanking.Utilities.Reporting"/>
</listeners>


  <test  name="eBanking Test">
  
<parameter name="browser" value="firefox"/>
    <classes>
      <class name="com.eBanking.Testcases.TC_LoginTest_001"/>
          <!--  <class name="com.eBanking.Testcases.TC_LoginDDT_002"/>-->
           <!--    <class name="com.eBanking.Testcases.TC_NewCustomerDDT_003"/>-->
      
    </classes>
    
  </test> <!-- Test -->
  
</suite> <!-- Suite -->