<?xml version="1.0" encoding="UTF-8"?>
<suite name="eBanking">
<listeners>
<listener class-name="com.eBanking.Utilities.Reporting"/>
</listeners>


  <test  name="eBanking Test">
  
<parameter name="browser" value="chrome" />
    <classes>
      <class name="com.eBanking.Testcases.loginDDTTest"/>
             <class name="com.eBanking.Testcases.loginTest"/>
      
    </classes>
    
  </test> <!-- Test -->
  
</suite> <!-- Suite -->